<div class="row flex-center">
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible">
    <label for="collapsible1">Books</label>
    <div class="collapsible-body">
      <span>Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken...</span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible2" type="checkbox" name="collapsible">
    <label for="collapsible2">Skils</label>
    <div class="collapsible-body">
      <span>Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola...</span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible3" type="checkbox" name="collapsible">
    <label for="collapsible3">Items</label>
    <div class="collapsible-body">
      <span>Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken...</span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible4" type="checkbox" name="collapsible">
    <label for="collapsible4">Weapons</label>
    <div class="collapsible-body">
      <span>Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola...</span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible5" type="checkbox" name="collapsible">
    <label for="collapsible5">Monsters</label>
    <div class="collapsible-body">
      <span>Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola...</span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible6" type="checkbox" name="collapsible">
    <label for="collapsible6">Production</label>
    <div class="collapsible-body">
      <span>Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola...</span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible7" type="checkbox" name="collapsible">
    <label for="collapsible7">Quests</label>
    <div class="collapsible-body">
      <span>Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola...</span>
    </div>
  </div>
  <div class="collapsible">
    <input id="collapsible8" type="checkbox" name="collapsible">
    <label for="collapsible8">Missions</label>
    <div class="collapsible-body">
      <span>Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola...</span>
    </div>
  </div>
</div>