<div class="row flex-center">
  <div class="card" style="width: 20rem;">
    <img class="image-bottom" src="https://picsum.photos/id/24/550/250" alt="Card example image">
    <div class="card-body">
      <h4 class="card-title">Books</h4>
      <h5 class="card-subtitle">Nice looking subtitle.</h5>
      <p class="card-text">You can also place image on the bottom of the card.</p>
      <form action="{{ site.url }}/collection/books/books/">
        <button>Let me go here!</button>
      </form>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="image-bottom" src="https://picsum.photos/id/26/550/250" alt="Card example image">
    <div class="card-body">
      <h4 class="card-title">Items</h4>
      <h5 class="card-subtitle">Nice looking subtitle.</h5>
      <p class="card-text">You can also place image on the bottom of the card.</p>
      <form action="{{ site.url }}/collection/items/items/">
        <button>Let me go here!</button>
      </form>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="image-bottom" src="https://picsum.photos/id/7/550/250" alt="Card example image">
    <div class="card-body">
      <h4 class="card-title">Missions</h4>
      <h5 class="card-subtitle">Nice looking subtitle.</h5>
      <p class="card-text">You can also place image on the bottom of the card.</p>
      <form action="{{ site.url }}/collection/missions/missions/">
        <button>Let me go here!</button>
      </form>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="image-bottom" src="https://picsum.photos/id/23/550/250" alt="Card example image">
    <div class="card-body">
      <h4 class="card-title">Monsters</h4>
      <h5 class="card-subtitle">Nice looking subtitle.</h5>
      <p class="card-text">You can also place image on the bottom of the card.</p>
      <form action="{{ site.url }}/collection/monsters/monsters/">
        <button>Let me go here!</button>
      </form>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="image-bottom" src="https://picsum.photos/id/20/550/250" alt="Card example image">
    <div class="card-body">
      <h4 class="card-title">Production</h4>
      <h5 class="card-subtitle">Nice looking subtitle.</h5>
      <p class="card-text">You can also place image on the bottom of the card.</p>
      <form action="{{ site.url }}/collection/production/production/">
        <button>Let me go here!</button>
      </form>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="image-bottom" src="https://picsum.photos/id/21/550/250" alt="Card example image">
    <div class="card-body">
      <h4 class="card-title">Quests</h4>
      <h5 class="card-subtitle">Nice looking subtitle.</h5>
      <p class="card-text">You can also place image on the bottom of the card.</p>
      <form action="{{ site.url }}/collection/quests/quests/">
        <button>Let me go here!</button>
      </form>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="image-bottom" src="https://picsum.photos/id/25/550/250" alt="Card example image">
    <div class="card-body">
      <h4 class="card-title">Talent</h4>
      <h5 class="card-subtitle">Nice looking subtitle.</h5>
      <p class="card-text">You can also place image on the bottom of the card.</p>
      <form action="{{ site.url }}/collection/quests/quests/">
        <button>Let me go here!</button>
      </form>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="image-bottom" src="https://picsum.photos/id/10/550/250" alt="Card example image">
    <div class="card-body">
      <h4 class="card-title">Skills</h4>
      <h5 class="card-subtitle">Nice looking subtitle.</h5>
      <p class="card-text">You can also place image on the bottom of the card.</p>
      <form action="{{ site.url }}/collection/skills/skills/">
        <button>Let me go here!</button>
      </form>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="image-bottom" src="https://picsum.photos/id/4/550/250" alt="Card example image">
    <div class="card-body">
      <h4 class="card-title">Weapons</h4>
      <h5 class="card-subtitle">Nice looking subtitle.</h5>
      <p class="card-text">You can also place image on the bottom of the card.</p>
      <form action="{{ site.url }}/collection/weapons/weapons/">
        <button>Let me go here!</button>
      </form>
    </div>
  </div>
</div>
