<div class="collapsible">
  <input id="collapsible1" type="checkbox" name="collapsible">
  {% assign dev_talent = site.Talent | where: "tab", "dev" %}
  {% for law in dev_talent %}
  <label for="collapsible1">
    {% if law.type == 'law' %}
      <span class="badge">{{ law.type }}</span>
      {{ law.name }}
    {% endif %}
    {% if law.type == 'theory' %}
      <span class="badge secondary">{{ law.type }}</span>
      {{ law.name }}
    {% endif %}
    {% if law.type == 'principle' %}
      <span class="badge success">{{ law.type }}</span>
      {{ law.name }}
    {% endif %}
    {% if law.type == 'pattern' %}
      <span class="badge danger">{{ law.type }}</span>
      {{ law.name }}
    {% endif %}
  </label>
  <div class="collapsible-body">
    <span>
      {{ law.content }}
    </span>
  </div>
  {% endfor %}
</div>

