---
layout: foam
---

<div class="row flex-spaces tabs">
  {% include collection/quest-tabs.html %}
  <div class="content" id="content1">
    <table class="table-hover">
      {% include collection/quests/thead.html %}
      {% include collection/quests/tbody-event.html %}
    </table>
  </div>
  <div class="content" id="content2">
    <table class="table-hover">
      {% include collection/quests/thead.html %}
      {% include collection/quests/tbody-repetitive.html %}
    </table>
  </div>
  <div class="content" id="content3">
    <table class="table-hover">
      {% include collection/quests/thead.html %}
      {% include collection/quests/tbody-normal.html %}
    </table>
  </div>
  <div class="content" id="content4">
    <table class="table-hover">
      {% include collection/quests/thead.html %}
      {% include collection/quests/tbody-art.html %}
    </table>
  </div>
  <div class="content" id="content5">
    <table class="table-hover">
      {% include collection/quests/thead.html %}
      {% include collection/quests/tbody-mainstream.html %}
    </table>
  </div>
</div>