---
layout: foam
---
<div class="row flex-spaces tabs">
  {% include collection/area-tabs.html %}

  <div class="content" id="content1">
    {% include collection/talent/collapsible-dev.html %}
  </div>
  <div class="content" id="content2">
    {% include collection/talent/collapsible-design.html %}
  </div>
  <div class="content" id="content3">
    {% include collection/talent/collapsible-frontend.html %}
  </div>
  <div class="content" id="content4">
    {% include collection/talent/collapsible-backend.html %}
  </div>
  <div class="content" id="content5">
    {% include collection/talent/collapsible-uiux.html %}
  </div>
</div>