---
layout: foam
---
<div class="row flex-spaces tabs">
  {% include collection/area-tabs.html %}

  <div class="content" id="content1">
    {% include collection/talent/dev.html %}
  </div>
  <div class="content" id="content2">
    {% include collection/talent/design.html %}
  </div>
  <div class="content" id="content3">
    {% include collection/talent/frontend.html %}
  </div>
  <div class="content" id="content4">
    {% include collection/talent/backend.html %}
  </div>
  <div class="content" id="content5">
    {% include collection/talent/uiux.html %}
  </div>
</div>