<h5>
  <input id="cactus" type="checkbox"">
  <label for="cactus" class="badge success">cactus</label>
  <input id="pizza" type="checkbox"">
  <label for="pizza" class="badge warning">pizza</label>
  <input id="star" type="checkbox"">
  <label for="star" class="badge warning">star</label>
  <input id="cupid" type="checkbox"">
  <label for="cupid" class="badge danger">cupid</label>
  <input id="cheese" type="checkbox"">
  <label for="cheese" class="badge warning">cheese</label>
  <input id="frog" type="checkbox"">
  <label for="frog" class="badge success">frog</label>
</h5>