<tbody>
  {% include collection/items/badges-on-the-table.html %}
  {% assign uiux_items = site.Items | where: 'tab', "dev" %}
  {% for item in uiux_items %}
    <tr>
      <td><a href="{{ item.url }}">{{ item.name }}</a></td>
      <td>{{ item.type }}</td>
      <td>{{ item.description }}</td>
      <td>
        {% if item.badge == 'cactus' %}
          <span class="badge success">{{ item.badge }}</span>
        {% endif %}
        {% if item.badge == 'pizza' %}
          <span class="badge warning">{{ item.badge }}</span>
        {% endif %}
        {% if item.badge == 'star' %}
          <span class="badge warning">{{ item.badge }}</span>
        {% endif %}
        {% if item.badge == 'cupid' %}
          <span class="badge danger">{{ item.badge }}</span>
        {% endif %}
        {% if item.badge == 'cheeses' %}
          <span class="badge warning">{{ item.badge }}</span>
        {% endif %}
        {% if item.badge == 'frog' %}
          <span class="badge success">{{ item.badge }}</span>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</tbody>